<!-- Vererbung -->
{% extends '../_base_.html' %}

<!-- Link App-Titel -->
{% block href_titel_app %}
    {% url 'projektadmin:übersicht_firmen' projekt_id %}
{% endblock href_titel_app %}

<!-- App-Titel -->
{% block titel_app %}
    Projektadmin
{% endblock titel_app %}

<!-- Navgationsleiste -->
{% block navigationsleiste %}

    <ul class="nav nav-tabs">

        <li class="nav-item">
            <a href="{% url 'projektadmin:übersicht_firmen' projekt_id %}" class="nav-link {% block übersicht_firmen_active %}{% endblock übersicht_firmen_active %}">Firmen</a>
        </li>

        <li class="nav-item">
            <a href="{% url 'projektadmin:übersicht_workflowschemata' projekt_id %}" class="nav-link {% block übersicht_wf_schemata_active %}{% endblock übersicht_wf_schemata_active %}">Workflowschemata</a>
        </li>

        <li class="nav-item">
            <a href="{% url 'projektadmin:übersicht_ordner' projekt_id %}" class="nav-link {% block übersicht_ordner_active %}{% endblock übersicht_ordner_active %}">Ordner</a>
        </li>

    </ul>

{% endblock navigationsleiste %}