<!-- Vererbung -->
{% extends './_base_projektadmin.html' %}

<!-- Titel -->
{% block titel %}
    Freigabeverwaltung Ordner
{% endblock titel %}

<!-- Kein nav-tab aktiv -->

<!-- Seiteninhalt -->
{% block inhalt %}
<div class="container">

    <!-- Seitenüberschrift -->
    <h1 class="mb-5 text-center">{{firma.bezeichnung}}: Freigabeverwaltung Ordner</h1>

    <!-- Formular Freigaben von Rollen übernehmen -->
    {% if firma.liste_rollen %}
        <ul class="mb-5 list-group">
            
            <li class="list-group-item">
                <form action="{% url 'projektadmin:freigabeverwaltung_ordner' projekt_id firma.id %}" method="POST">
                    <strong>Freigabe von Rollen übernehmen: </strong>
                        {% for rolle in firma.liste_rollen %}
                            {%if forloop.counter > 1 %}, {% endif %}
                            {{rolle.bezeichnung}}
                        {% endfor %}
                
                    {% csrf_token %}
                    <button class="m-2 btn btn-outline-primary" type="submit" name="ereignis" value="freigaben_rollen_übernehmen">Freigaben übernehmen</button>
                </form>
            </li>
        </ul>
    {% endif %}

    <!--- Tabelle mit Freigabeeinstellungen (als ein großes Formular) -->
    <form action="{% url 'projektadmin:freigabeverwaltung_ordner' projekt_id firma.id %}" method="POST">
        {% csrf_token %}

        <!-- Tabelle -->
        <table class="table">
            <thead>
                <tr>
                    <th>Ordnerbezeichnung</th>
                    <th class="text-center">Lesefreigabe</th>
                    <th class="text-center">Uploadfreigabe</th>
                    <th class="text-center">Keine Freigabe</th>
                </tr>
            </thead>

            <tbody>
                {% for ordner in liste_ordner %}
                <tr>
                    <td>{{ordner.bezeichnung}}</td>
                    <!-- Radiobuttons -->
                    <fieldset>
                        <td class="text-center">
                            <input type="radio" name="{{ordner.id}}" value="freigabe_lesen" {% if ordner.freigabe_lesen %}checked{% endif %}>
                        </td>
                        <td class="text-center">
                            <input type="radio" name="{{ordner.id}}" value="freigabe_upload" {% if ordner.freigabe_upload %}checked{% endif %}>
                        </td>
                        <td class="text-center">
                            <input type="radio" name="{{ordner.id}}" value="keine_freigabe" {% if ordner.keine_freigabe %}checked{% endif %}>
                        </td>
                    </fieldset>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- Submit-Button -->
        <button type="submit" class="m-3 btn btn-outline-success" name="ereignis" value="aktualisieren">Freigaben Aktualisieren</button>
        
    </form>
    
{% endblock inhalt %}