<!-- Vererbung -->
{% extends './_base_projektadmin.html' %}

<!-- Titel -->
{% block titel %}
    Übersicht Projektfirmen
{% endblock titel %}

<!-- nav-tab aktiv -->
{% block übersicht_firmen_active %}
    active
{% endblock übersicht_firmen_active %}

<!-- Seiteninhalt -->
{% block inhalt %}
<div class="container">

    <h1 class="mb-5 text-center">Übersicht Firmen</h1>

    <!-- Liste Projektfirmen -->
    {% for firma in liste_firmen_projekt %}
        <ul class="my-3 list-group">
            <li class="list-group-item">
                <div class="d-flex justify-content-end">

                    <div class="p-2 flex-grow-1 font-weight-bolder">
                        {{firma.bezeichnung}}
                        {% if firma.ist_projektadmin %} (Projektadmin){% endif %}
                    </div>


                    {% if not firma.ist_projektadmin %} <!-- Projektadmin-Firma kann nicht gelöscht werden -->
                        <!-- Formular "Firmal lösen" -->
                        <div class="p-2">
                            <form class="form-inline" action="{% url 'projektadmin:übersicht_firmen' projekt_id %}" method="POST">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-outline-danger align-middle p-0" name="firma_lösen_id" style="height: 20px; width: 20px; font-size: small" value="{{firma.id}}">-</button>
                            </form>
                        </div>
                    {% endif %}

                </div>
            </li>
        </ul>
    {% endfor %}

    <!-- Formular "Neue Firma zuordnen" -->
    <ul class="my-3 list-group">
        <li class="list-group-item" style="background-color: lightblue;">
            
            <form class="form-inline" action="{% url 'projektadmin:übersicht_firmen' projekt_id %}" method='POST'>
                {% csrf_token %}

                <label class="mx-1" for="firma_verbinden_id">Firma zum Projekt hinzufügen:</label>
                <select class="mx-1 form-control" name="firma_verbinden_id" id="firma_verbinden_id">
                    {% for firma in liste_firmen_außerhalb %}
                        <option value="{{firma.id}}">{{firma.kurzbezeichnung}}</option>
                    {% endfor %}
                </select>

                <button class="mx-1 btn btn-outline-dark" type="submit">Firma hinzufügen</button>

            </form>

        </li>
    </ul>

    <!-- Anzeige Fehlermeldung -->
    <p style="color: red;">{{fehlermeldung}}</p>

</div>
{% endblock inhalt %}