<!-- Vererbung -->
{% extends './_base_projektadmin.html' %}

<!-- Titel -->
{% block titel %}
    Übersicht Ordner
{% endblock titel %}

<!-- nav-tab aktiv -->
{% block übersicht_ordner_active %}
    active
{% endblock übersicht_ordner_active %}

<!-- Seiteninhalt -->
{% block inhalt %}
<div class="container-fluid">
    <div class="row">

    <div class="col-1"></div>

    <div class="col-md">
    <!-- Seitenüberschrift -->
    <h1 class="mb-5 text-center">Übersicht Ordner</h1>

    <!-- Auflistung Ordner -->
    <ul class="list-group">

        <!-- Formular PJS anlegen (nur anzeigen wenn noch keine PJS gewählt) -->
        {% if liste_v_pjs %}
            <li class="list-group-item" style="background-color: #f8f9fa;">
                <form class="p-2 form-inline" action="{% url 'projektadmin:übersicht_ordner' projekt_id %}" method="POST">
                    {% csrf_token %}
                    <label class="col-md" for="pjs_id">Projekstruktur importieren</label>
                    <select class="col-md form-control" name="pjs_id" id="pjs_id">
                        {% for v_pjs in liste_v_pjs %}
                        <option value="{{v_pjs.id}}">{{v_pjs.bezeichnung}}</option>
                        {% endfor %}
                    </select>
                    <button class="mx-2 col-md btn btn-outline-primary" type="submit" name="ereignis" value="pjs_importieren">importieren</button>
                </form>
            </li>
        {% endif %}        

        <!-- Formular Ordner anlegen -->
        <li class="list-group-item" style="background-color: #f8f9fa;">
            <form class="p-2 form-inline" action="{% url 'projektadmin:übersicht_ordner' projekt_id %}" method="POST">
                {% csrf_token %}
                <input type="text" class="form-control" name="ordner_bezeichnung">
                <button class="mx-2 btn btn-outline-primary" type="submit" name="ereignis" value="ordner_anlegen">Ordner anlegen</button>
            </form>
        </li>

    </ul>

    <table class="table">
        <thead>
            <th><!-- Spalte für Button Ordner löschen --></th>
            <th>Bezeichnung</th>
            <th>Worflowschema</th>
            <th>WFSch ändern</th>
            <th>Unterordner hinzufügen</th>
        </thead>

        <tbody>
            {% for ordner in liste_ordner %}
            <tr>
                <td><!-- Button Ordner löschen -->
                    <form action="{% url 'projektadmin:übersicht_ordner' projekt_id %}" method="POST">
                        {% csrf_token %}
                        <input hidden type="text" name="ordner_id" value="{{ordner.id}}">
                        <button type="submit"
                                class="p-0 m-2 align-middle btn btn-outline-danger"
                                name="ereignis"
                                value="ordner_löschen"
                                style="height: 20px; width: 20px; font-size: small">
                        -
                        </button>
                    </form>
                </td>
                <td><!-- Ordner Bezeichnung -->    
                    {{ordner.bezeichnung}}</td>
                <td><!-- WFSch Bezeichnung -->
                    {% if ordner.wfsch %}{{ordner.wfsch.bezeichnung}}{% else %}<span style="color: lightgrey;">Kein WFSch</span>{% endif %}</td>
                <td><!-- Formular WFSch ändern -->
                    <form class="form-inline" action="{% url 'projektadmin:übersicht_ordner' projekt_id %}" method="POST">
                        {% csrf_token %}
                        <input hidden type="text" name="ordner_id" value="{{ordner.id}}">
                        <select class="form-control" name="wfsch_id">
                            <option>Kein WFSch</option>
                            {% for wfsch in liste_wfsch %}
                            {% if not wfsch.bezeichnung == ordner.wfsch.bezeichnung %}<option value="{{wfsch.id}}">{{wfsch.bezeichnung}}</option>{% endif %}
                            {% endfor %}
                        </select>
                        <button class="mx-2 btn btn-outline-primary" name="ereignis" value="wfsch_ändern">WFSch ändern</button>
                    </form>
                </td>
                <td><!-- Formular Unterordner anlegen -->
                    <form class="form-inline" action="{% url 'projektadmin:übersicht_ordner' projekt_id %}" method="POST">
                        {% csrf_token %}
                        <input hidden type="text" name="ordner_id" value="{{ordner.id}}">
                        <input class="form-control" type="text" name="unterordner_bezeichnung">
                        <button type="submit" class="mx-2 btn btn-outline-success" name="ereignis" value="unterordner_anlegen">OK</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>

    <div class="col-1"></div>

    </div>
</div>
{% endblock inhalt %}