<!-- Vererbung -->
{% extends './_base_projektadmin.html' %}

<!-- Titel -->
{% block titel %}
    Übersicht Projektfirmen
{% endblock titel %}

<!-- nav-tab aktiv -->
{% block übersicht_firmen_active %}
    active
{% endblock übersicht_firmen_active %}

<!-- Seiteninhalt -->
{% block inhalt %}
<div class="container">

    <h1 class="mb-5 text-center">Übersicht Firmen</h1>

    <!-- Link zu Formula Firma Anlegen -->
    <ul class="my-3 list-group">
        <li class="list-group-item">
            <a class="font-weight-bolder" href="{% url 'projektadmin:firma_anlegen' projekt_id %}">Firma anlegen</a>
        </li>
    </ul>

    <!-- Liste Projektfirmen -->
    {% for firma in liste_projektfirmen %}
        <ul class="my-3 list-group">
            <li class="list-group-item" style="background-color: #f9f8fa;">
                <div class="d-flex justify-content-end" style="background-color: #f9f8fa;">

                    <div class="p-2 flex-grow-1 font-weight-bolder">
                        {{firma.bezeichnung}}
                        {% if firma.ist_projektadmin %} (Projektadmin){% endif %}
                    </div>

                    <!-- Formular "Firma lösen" -->
                    {% if not firma.ist_projektadmin %} <!-- Projektadmin-Firma kann nicht gelöscht werden -->
                        <div class="p-2">
                            <form class="form-inline" action="{% url 'projektadmin:übersicht_firmen' projekt_id %}" method="POST">
                                {% csrf_token %}
                                <input hidden type="text" name="firma_id" value="{{firma.id}}">
                                <button type="submit" 
                                        class="btn btn-outline-danger align-middle p-0" 
                                        name="ereignis"
                                        value="firma_lösen"
                                        style="height: 20px; width: 20px; font-size: small">-</button>
                            </form>
                        </div>
                    {% endif %}

                </div>
            </li>

            <li class="list-group-item">
                <p><a href="{% url 'projektadmin:detailansicht_firma' projekt_id firma.id %}">Detailansicht Firma</a></p>
                <p><a href="#">Ordnerfreigaben verwalten</a></p>
            </li>

        </ul>
    {% endfor %}

    <!-- Formular Firma hinzufügen -->
    <ul class="my-3 list-group">
        <li class="list-group-item" style="background-color: #f9f8fa;">
            
            <form class="form-inline" action="{% url 'projektadmin:übersicht_firmen' projekt_id %}" method='POST'>
                {% csrf_token %}

                <label class="mx-1" for="firma_id">Firma zum Projekt hinzufügen:</label>
                <select class="mx-1 form-control" name="firma_id" id="firma_id">
                    {% for firma in liste_nicht_projektfirmen %}
                        <option value="{{firma.id}}">{{firma.bezeichnung}}</option>
                    {% endfor %}
                </select>

                <button class="mx-1 btn btn-outline-success" type="submit" name="ereignis" value="firma_hinzufügen">Firma hinzufügen</button>

            </form>

        </li>
    </ul>

</div>
{% endblock inhalt %}