<!-- Vererbung -->
{% extends './_base_mängel.html' %}

<!-- Titel -->
{% block titel %}
    Übersicht Tickets
{% endblock titel %}

<!-- nav-tab aktiv -->
{% block tickets_active %}
    active
{% endblock tickets_active %}

<!-- leaflet für Plan einbinden-->
{% load static %}

{% block css_leaflet %}
<link rel="stylesheet" href="{% static '/leaflet/leaflet.css' %}"/>
{% endblock css_leaflet %}

<!-- Seiteninhalt -->
{% block inhalt %}

<!-- BUTTONLEISTE DOKAB INHALTSANSICHT -->
<nav class="navbar border-bottom">
    <div class="ml-auto mr-0">
        <a class="btn btn-outline-success" role="button" href="{% url 'mängel:ticket_ausstellen' projekt.id %}">Ticket Ausstellen</a>
    </div>
</nav>

<div class="container">
    
    <h1 class="mb-5 text-center">Übersicht Tickets</h1>

    <div id="karte"></div>

    <table class="table">
        <thead>
            <tr>
                <th>Bezeichnung</th>
                <th>Aussteller</th>
                <th>Status</th>
                <th>Empfänger</th>
                <th>Status</th>
                <th>Gelesen</th>
                <th>Fälligkeit</th>
                <th>Plan</th>
            </tr>
        </thead>
        <tbody>
            {% for ticket in liste_tickets %}
                <tr>
                    <td>
                        <a href="{% url 'mängel:detailansicht_ticket' projekt.id ticket.id %}">{{ticket.bezeichnung}}</a>
                    </td>
                    <td>{{ticket.aussteller}}</td>
                    <td>{{ticket.ausstellerstatus}}</td>
                    <td>{{ticket.empfänger}}</td>
                    <td>{{ticket.empfängerstatus}}</td>
                    <td>{{ticker.gelesen}}</td>
                    <td>{{ticket.fälligkeitsdatum}}</td>
                    <td>{{ticket.plan}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
{% endblock inhalt %}

<!-- leaflet Javascript einbinden -->
{% block js_leaflet %}
<script src="{% static '/leaflet/leaflet.js' %}"></script>
<script>
    var map = L.map('karte',{
        crs: L.CRS.Simple
    });
    var bounds = [[0, 0], [100, 100]];
    var image = L.imageOverlay('{% static '/leaflet/PLAN.png' %}', bounds).addTo(map);
    map.fitBounds(bounds);
    var m = L.latLng([50, 50])
    var marker = L.marker(m)
    marker.addTo(map)
    marker.bindPopup('<form action="https://www.google.at" method="POST"><button type="submit" class="btn btn-outline-success">OK</button></form> ')
</script>

{% endblock js_leaflet %}