<!-- Vererbung -->
{% extends '../_base_.html' %}

<!-- Link App-Titel -->
{% block href_titel_app %}
    {% url 'firmenadmin:übersicht_mitarbeiter' firma.id %}
{% endblock href_titel_app %}

<!-- App-Titel -->
{% block titel_app %}
    Firmenadmin
{% endblock titel_app %}

<!-- Navgationsleiste -->
{% block navigationsleiste %}

    <ul class="nav nav-tabs">

        <li class="nav-item">
            <a href="{% url 'firmenadmin:übersicht_mitarbeiter' firma.id %}" class="nav-link {% block mitarbeiter_active %}{% endblock mitarbeiter_active %}">Mitarbeiter</a>
        </li>

        <li class="nav-item">
            <a href="{% url 'firmenadmin:übersicht_projekte' firma.id %}" class="nav-link {% block projekte_active %}{% endblock projekte_active %}">Projekte</a>
        </li>

        <li class="nav-item">
            <a href="{% url 'firmenadmin:übersicht_wfsch' firma.id %}" class="nav-link {% block wfsch_active %}{% endblock wfsch_active %}">Worflowschemata</a>
        </li>

    </ul>

{% endblock navigationsleiste %}