<!-- Vererbung -->
{% extends './_base_firmenadmin.html' %}

<!-- Titel -->
{% block titel %}
    Übersicht Projekte
{% endblock titel %}

<!-- nav-tab aktiv -->
{% block projekte_active %}
    active
{% endblock projekte_active %}

<!-- Seiteninhalt -->
{% block inhalt %}
<div class="container">

    <h1 class="mb-5 text-center">Übersicht Projekte</h1>

    {% for projekt in liste_projekte %}
    <ul class="my-3 list-group">
        <!-- Projektbezeichnung -->
        <li class="list-group-item font-weight-bolder" style="background-color: #f8f9fa;">
            {{projekt.bezeichnung}} {% if projekt.firma_ist_projektadmin %} - Projektadmin{% endif %}
        </li>

        {% for rolle in projekt.liste_rollen %}
        <!-- Auflistung Rollen -->
        <li class="list-group-item">
            <span class="border-bottom font-weight-bolder">{{rolle.bezeichnung}}</span>
            <form action="{% url 'firmenadmin:übersicht_projekte' firma.id%}" method="POST">
                  {% csrf_token %}
                  <input hidden type="text" name="projekt_id" value="{{projekt.id}}">
                  <input hidden type="text" name="rolle_id" value="{{rolle.id}}">
                  <select class="form-control" name="mitarbeiter_id">
                      {% for mitarbeiter in rolle.liste_nicht_rolleninhaber %}
                      <option value="{{mitarbeiter.id}}">{{mitarbeiter.first_name}} {{mitarbeiter.last_name}}</option>
                      {% endfor %}
                  </select>
            </form>
            
            {% for mitarbeiter in rolle.liste_rolleninhaber %}
                <form action="{% url 'firmenadmin:übersicht_projekte' firma.id %}" method="POST">
                    {% csrf_token %}
                    <input hidden type="text" name="projekt_id" value="{{projekt.id}}">
                    <input hidden type="text" name="rolle_id" value="{{rolle.id}}">
                    <input hidden type="text" name="mitarbeiter_id" value="{{mitarbeiter.id}}">
                    <button class="p-0 btn btn-outline-danger text-center" 
                            name="ereignis" 
                            value="mitarbeiter_lösen"
                            style="width: 20px; height: 20px; font-size: small;">-</button>
                    <label for="mitarbeiter">{{mitarbeiter.first_name}} {{mitarbeiter.last_name}}</label>
                </form>
            {% endfor %}
        
        {% endfor %}
        </li>

        

    </ul>
    {% endfor %}

</div>
{% endblock inhalt %}