<!-- Vererbung -->
{% extends './_base_firmenadmin.html' %}

<!-- Titel -->
{% block titel %}
    Übersicht WF-Schemata
{% endblock titel %}

<!-- nav-tab aktiv -->
{% block wfsch_active %}
    active
{% endblock wfsch_active %}

<!-- Seiteninhalt -->
{% block inhalt %}
<div class="container">

    <h1 class="mb-5 text-center">Übersicht Workflowschemata</h1>

    {% for projekt in liste_wfsch_firma %}
        
        {% for wfsch in projekt.liste_wfsch %}
        <ul class="my-3 list-group">
            <!-- WF-Schema Bezeichnung -->
            <li class="list-group-item font-weight-bolder" style="background-color: #f8f9fa;">Projekt: {{projekt.bezeichnung}} - WFSch: {{wfsch.bezeichnung}}</li>

            <!-- Formular MA nach Rollen zuweisen -->
            <li class="list-group-item">
                <form action="{% url 'firmenadmin:übersicht_wfsch' firma.id %}" method="POST">
                    {% csrf_token %}
                    <input hidden type="text" name="wfsch_id" value="{{wfsch.id}}">
                    <input hidden type="text" name="projekt_id" value="{{projekt.id}}">
                    <button class="m-2 btn btn-outline-primary" type="submit" name="ereignis" value="mitarbeiter_nach_rollen_zuweisen">
                        Mitarbeiter nach Rollen zuweisen
                    </button>
                </form>
            </li>

            <!-- Auflistung WFSch-Stufen -->
            {% for wfsch_stufe in wfsch.liste_wfsch_stufen %}
                
                <!-- Auflistung Prüfer, wenn Userfirma Prüffirma ist -->
                    
                    {% if wfsch_stufe.firma_ist_prüffirma %}
                    <li class="list-group-item">
                        <div class="font-weight-bolder text-center">Stufe {{forloop.counter}}: {{wfsch_stufe.bezeichnung}}</div>
                        
                        {% for r in wfsch_stufe.liste_rollen %}
                            
                            {% if r.rolle_ist_firmenrolle %}
                                <div class="mt-2 font-weight-bolder">
                                    <span class="border-bottom">{{r.bezeichnung}}</span>
                                </div>

                                <!-- Firmenprüfer -->
                               {% for fa in r.liste_prüffirmen %}
                                    {% if fa.id == firma.id %}
                                        
                                    <!-- Formular Firmenprüfer hinzufügen -->
                                    {% if fa.liste_nicht_firmenprüfer %}
                                        <form class="m-0 form-inline" action="{% url 'firmenadmin:übersicht_wfsch' firma.id %}" mehtod="POST">
                                            {% csrf_token %}
                                            <input hidden type="text" name="wfsch_stufe_id" value="{{wfsch_stufe.id}}">
                                            <input hidden type="text" name="projekt_id" value="{{projekt.id}}">
                                            <input hidden type="text" name="rolle_id" value="{{r.id}}">
                                            <select class="form-control" name="mitarbeiter_id">
                                                {% for np in fa.liste_nicht_firmenprüfer %}
                                                <option value="{{np.id}}">{{np.first_name}} {{np.last_name}}     </option>
                                                {% endfor %}
                                            </select>
                                            <button class="m-2 p-0 btn btn-outline-success text-center"
                                                    type="submit"
                                                    formmethod="POST"
                                                    name="ereignis"
                                                    value="firmenprüfer_hinzufügen"
                                                    style="height: 30px; width: 30px; font-size: small;">+</button>
                                        </form>
                                    {% endif %}

                                    <!-- Auflistung Firmenprüfer mit Löschen Button -->
                                    {% for p in fa.liste_firmenprüfer %}
                                        <form action="{% url 'firmenadmin:übersicht_wfsch' firma.id %}" method="POST">
                                            {% csrf_token %}
                                            <input hidden type="text" name="wfsch_stufe_id" value="{{wfsch_stufe.id}}">
                                            <input hidden type="text" name="projekt_id" value="{{projekt.id}}">
                                            <input hidden type="text" name="rolle_id" value="{{r.id}}">
                                            <input hidden type="text" name="mitarbeiter_id" value="{{p.id}}">
                                            <button class="p-0 btn btn-outline-danger text-center"
                                                    type="submit"
                                                    name="ereignis"
                                                    value="firmenprüfer_lösen"
                                                    id="ereignis_button"
                                                    style="height: 20px; width: 20px; font-size: small;">-</button>
                                            <label for="ereignis_button">{{p.first_name}} {{p.last_name}}</label>
                                            
                                            <!-- Auswahl 'immer erforderlich' -->
                                            <input hidden type="text" name="wfsch_st_ma_id" value="{{p.wfsch_st_ma_id}}">
                                            <input type="checkbox" class="ml-2" name="immer_erforderlich" value="True" id="immer_erforderlich" {% if p.immer_erforderlich %}checked{% endif %}>
                                            immer erforderlich
                                            <button class="p-0 btn btn-outline-primary text-center"
                                                    type="submit"
                                                    name="ereignis"
                                                    value="immer_erforderlich_ändern"
                                                    style="height: 20px; width: 30px; font-size: small;">OK</button>
                                        </form>
                                        {% endfor %}
                                        
                                    {% endif %}
                                {% endfor %}


                            <!-- Rolle ausgegraut darstellen wenn nicht Firmenrolle -->
                            {% else %}
                                <div class="mt-2 font-weight-bolder">
                                    <span class="border-bottom" style="color: lightgrey;">{{r.bezeichnung}}</span>
                                </div>
                            {% endif %}

                        {% endfor %}
                    </li>

                    {% else %}

                    <li class="list-group-item">
                        <div class="font-weight-bolder text-center" style="color: lightgrey">Stufe {{forloop.counter}}: {{wfsch_stufe.bezeichnung}}</div>
                    </li>
            
                    {% endif %}

            {% endfor %}

        {% endfor %}

    {% endfor %}

</div>
                    
{% endblock inhalt %}
                    
 