<!-- Vererbung -->
{% extends './_base_dokab.html' %}

<!-- Titel -->
{% block titel %}
    Upload Dokument
{% endblock titel %}

<!-- nav-tab aktiv -->
{% block ordner_active %}
    active
{% endblock ordner_active %}

<!-- Seiteninhalt -->
{% block inhalt %}
<div class="container">

    <h1 class="mb-5 text-center">Upload</h1>

    <!-- Formular 'Upload' -->
    <form class="p-2" action="{% url 'dokab:upload_dokument' projekt.id ordner.id %}" method="POST" enctype="multipart/form-data" style="border: 1px solid #dee2e6;">
               
        {% csrf_token %}

        <!-- Bezeichnung Upload-Ordner-->
        <div class="d-flex bd-highlight">
          <div class="p-2 flex-grow-1 bd-highlight">
            <label for="ordner">Upload-Ordner:</label>
          </div>

          <div class="p-2 col-6 bd-highlight">
            <input readonly class="form-control" type="text" id="ordner" value="{{ordner.bezeichnung}}">
          </div>
        </div>


        <!-- Bezeichnung Dokument -->
        <div class="d-flex bd-highlight">
          <div class="p-2 flex-grow-1 bd-highlight">
            <label for="dokument_bezeichnung">Bezeichnung Dokument:</label>
          </div>
          
          <div class="p-2 col-6 bd-highlight">
            <input type="text" class="form-control" name="dokument_bezeichnung" id="dokument_bezeichnung">
          </div>
        </div>

        <!--Dateien wählen-->
        <div class="d-flex bd-highlight">
          <div class="p-2 flex-grow-1 bd-highlight">
            <label for="dateien">Dateien wählen</label>
          </div>

          <div class="p-2 col-6 bd-highlight">
            <input multiple type="file" name="dateien" id="dateien">
          </div>
        </div>

        <!--Submit Button-->
        <button type="submit" class="my-2 btn btn-outline-success" style="width: 200px;">Upload</button>
        
          
      </form>

      <a class="my-2 btn btn-outline-primary" 
          role="button" 
          href="{% url 'dokab:übersicht_ordnerinhalt' projekt.id ordner.id %}"
          style="float: right;">
          Zurück zur Ordneransicht
      </a>

</div>
{% endblock inhalt %}