<!-- Head -->

{% extends '_base.html' %}

{% block seitenüberschrift %}DokAb{% endblock seitenüberschrift %}

{% block nav_tabs %}
    <ul class="nav nav-tabs">

        <li class="nav-item">
            <a class="nav-link {% block tab_ordner_active %}{% endblock tab_ordner_active %}" href={% url 'dokab:weiterleitung_root' projekt_id %}>Ordner</a>
        </li>

        <li class="nav-item">
            <a class="nav-link {% block tab_workflows_active %}{% endblock tab_workflows_active %}" href={% url 'dokab:workflows_übersicht' projekt_id %}>Workflows</a>
        </li>
        
    </ul>
{% endblock nav_tabs %}

<!-- /Head -->