{% extends '_base_.html' %}

{% block titel %}Home{% endblock titel %}

{% block href_titel_app %}
    {% url 'home' %}
{% endblock href_titel_app %}

{% block titel_app %}Home{% endblock titel_app %}

{% block navigationsleiste %}
{% endblock navigationsleiste %}

{% block inhalt %}
<div class="container">
    <h1 class="mb-5 text-center">Willkommen Zuhause!</h1>

    {% if liste_projekte_user %}
        <!-- Liste Projekte -->
        <ul class="my-3 list-group">
            <li class="list-group-item font-weight-bolder" style="background-color: #f8f9fa;">Ihre Projekte</li>
            {% for projekt in liste_projekte_user %}
                <li class="list-group-item">
                    <p class="font-weight-bolder">{{projekt.bezeichnung}}: </p>
                    <a href="{% url 'projektadmin:übersicht_ordnerinhalt_root' projekt.id %}">Dokumentenablage</a> |
                    <a href="{% url 'mängel:übersicht_tickets' projekt.id %}">Mängelmanagement</a> |
                    <a href="{% url 'projektadmin:übersicht_firmen' projekt.id %}">Projektadmin-Bereich</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <ul class="my-3 list-group">
        <li class="list-group-item font-weight-bolder" style="background-color: #f8f9fa;">Nachrichten</li>
        <li class="list-group-item">
            <p>Sie haben {{anzahl_neue_nachrichten}} neue Nachrichten</p>
            <a href="{% url 'kommunikation:übersicht_eingang' %}">Zum Nachrichteneingang</a>
        </li>
    </ul>

    {% if liste_projekte_user_projektadmin %}
        <!-- Liste Projektadmin-Bereiche -->
        <ul class="my-3 list-group">
            <li class="list-group-item font-weight-bolder" style="background-color: #f8f9fa;">Zu den Projekt-Admin-Bereichen</li>
            {% for projekt in liste_projekte_user_projektadmin %}
                <li class="list-group-item"><a href="{% url 'projektadmin:übersicht_firmen' projekt.id %}">{{projekt.bezeichnung}}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if user.ist_superadmin %}
        <!-- Superadmin-Bereich -->
        <ul class="my-3 list-group">
            <li class="list-group-item font-weight-bolder" style="background-color: #f8f9fa;"><a href="{% url 'superadmin:firma_neu' %}">Zum Superadmin Bereich</a></li>
        </ul>
    {% endif %}

</div>

{% endblock inhalt %}