{% extends '_base_dokab.html' %}

{% block tab_ordner_active %}active{% endblock tab_ordner_active %}

{% block titel %}Ordner Inhalt{% endblock titel %}

{% block navigation_sidebar %}

    <!--Navigationsleiste-->
    <div class="col-3">
            <nav class="sidebar">
                    {% for ordner in ordnerbaum %}
                    
                        <a  href={% url 'dokab:ordner_inhalt' projekt_id ordner.ordner.id %}
                            class="nav-link {% if ordner.ordner_freigabe_lesen is False and ordner.ordner_freigabe_upload is False %} disabled{% endif %}">
                        {{ordner.ordner_darstellung}}
                        </a>

                    {% endfor %}
            </nav>
    </div>

{% endblock navigation_sidebar %}

{% block inhalt %}
    
    <!--Upload Button-->
    {% if freigabe_upload %}
        <a href={% url 'dokab:upload' projekt_id ordner_id %}>
            <button class="btn btn-success">Upload</button>
        </a>
    {% endif %}

    <!--Ordnerinhalt-->
    <table class="table">

        <thead>
            <th scope="col">Bezeichnung</th>
            <th scope="col">Datum</th>
            <th scope="col">Von</th>
            <th scope="col">Paket</th>
        </thead>

        <tbody>

            <!--Unterordner-->
            {% for ordner in liste_ordner %}
                <tr>
                    <td>{{ordner.bezeichnung}}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            {% endfor %}

            <!--Dokumente-->
            {% for dokument in liste_dokumente %}
                <tr>
                    <td>{{dokument.bezeichnung}}</td>
                    <td>{{dokument.zeitstempel}}</td>
                    <td>{{dokument.mitarbeiter.first_name}} {{dokument.mitarbeiter.last_name}}</td>
                    <td>{{dokument.paket.bezeichnung}}</td>
                </tr>
            {% endfor %}

        </tbody>
    </table>
    
{% endblock inhalt %}